@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');

body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  background-color: red;
  transition: background .25s ease;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
